{% extends "plantilla.html" %}
{% load static %}
{% block contenido %}

<div class="col-md-3"></div>
<div class="col-md-6 bg-light p-4 rounded shadow-lg mt-4">
    <h1 class="text-center mb-4">INICIAR SESIÓN</h1>

    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-danger p-2 text-center">{{ m }}</div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'login' %}" method="post" id="frm_login">
        {% csrf_token %}

        <label for="usuario">Usuario:</label><br>
        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario"><br>

        <label for="contrasena">Contraseña:</label><br>
        <input class="form-control" type="password" name="contrasena" id="contrasena" placeholder="Ingrese su contraseña"><br>

        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-success" type="submit">INGRESAR</button>
            <a class="btn btn-outline-danger" href="/">Cancelar</a>
        </div>
    </form>
</div>

<script>
    // Validaciones del formulario
    $("#frm_login").validate({
        rules: {
            "usuario": {
                required: true,
                minlength: 3
            },
            "contrasena": {
                required: true,
                minlength: 4
            },
        },
        messages: {
            "usuario": {
                required: "Ingrese su nombre de usuario.",
                minlength: "El usuario debe tener al menos 3 caracteres."
            },
            "contrasena": {
                required: "Ingrese su contraseña.",
                minlength: "La contraseña debe tener al menos 4 caracteres."
            },
        }
    });
</script>

{% endblock %}
