{% extends "plantilla.html" %}
{% load static %}
{% block contenido %}

<h1>AGREGA OTRA MASCOTA</h1>
<form action="GuardarA" method="post" id="frm_nuevaMascota" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label for="">Nombre:</label><br>
    <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre"> <br>
    <label for="">Especie:</label><br>
    <input class="form-control" type="text" name="especieid" id="especieid" placeholder="Ingrese la especie del animal"> <br>
    <label for="">Edad:</label><br>
    <input class="form-control" type="text" name="edad" id="edad" placeholder="Ingrese la edad"> <br>
    <label for="">Salud:</label><br>
    <input class="form-control" type="text" name="salud" id="salud" placeholder="Ingrese el estado de salud"> <br>

    <label for="">Foto del Firulais:</label><br>
    <input class="form-control" type="file" name="logo" id="logo" accept="image/*" placeholder="Sleciones una imagen"><br>

    <label for="pdf">Archivo PDF del Animal:</label><br>
    <input class="form-control" type="file" name="pdf" id="pdf" accept="application/pdf"><br>

    <label for="precio">Precio:</label><br>
    <input class="form-control" type="text" name="precio" id="precio" placeholder="Ingrese el precio de la mascota"><br>


    <label for="">Estado:</label><br>
    <select class="form-control" name="estado" id="estado">
        <option value="DISPONIBLE" selected>DISPONIBLE</option>
        <option value="ADOPTADO">ADOPTADO</option>
    </select><br>
    

    <button class="btn btn-success" type="submit">GUARDAR</button> <br><br>
    <a class="btn btn-outline-danger" href="/">CANCELAR</a> <br><br>

</form>

<script>
    $("#frm_nuevaMascota").validate({
        rules: {
            "nombre": {
                required: true,
                minlength: 3,
                maxlength: 10
            },

            "especieid": {
                required: true,
                minlength: 3
            },

            "edad": {
                required: true,
                digits: true,
                min: 0,
                max: 15
            },

            "salud": {
                required: true
            },

            "precio": {
                required: true,
                number: true,
                min: 0
            },
            
            "estado": {
                required: true
            }

            
        },
        messages: {
            "nombre": {
                required: "Campo obligatorio",
                minlength: "Debe tener al menos 3 letras",
                maxlength: "Nombre muy largo (máx. 20 caracteres)"
            },

            "especieid": {
                required: "Ingrese la especie",
                minlength: "Debe ingresar una especie válida"
            },

            "edad": {
                required: "Ingrese la edad",
                digits: "Debe ser un número entero",
                min: "La edad no puede ser negativa",
                max: "No debe superar los 15 años"
            },

            "salud": {
                required: "Ingrese el estado de salud"
            }
        }
    });
</script>


<script>
    $("#logo").fileinput({
        theme: "bootstrap5",  
        language: "es",
        allowedFileExtensions: ["jpg", "jpeg", "png"],
        showUpload: false,
        dropZoneEnabled: true,
        maxFileSize: 2000,
        showPreview: true,
        browseLabel: "Seleccionar imagen",
        removeLabel: "Eliminar",
        initialCaption: "Arrastra y suelta la imagen aquí",
        showRemove: true,
        showZoom: true,
        showDrag: true
    });
</script>
{% endblock %}